
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* shared style */
.btn-primary{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border-color: #0D1321;
    
}

.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;


}

.section-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.bg{
    background-color: #0D1321;
}

.btn-learn-more{

}

/*nav styles  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 150px; */

}
nav ul{
    margin:38px 150px 0px 0px ;

}

.nav-title{
    font-size: 28px;
    /* margin:38px 150px; */
    max-width:  150px;
    max-height: 50px;
    margin: 50px 0px 0px 150px;
 
}
/* header banner */

.banner-container{
    background: url(../assets/Hero-bg.png);
    /* max-width: 1440px; */
    /* max-height:652px ; */
    padding: 36px 203px 35px 203px;
    margin: 26px auto;

}
.banner{ 
    background: url(../assets/Hero-bg.png);  
    max-width:998px ;
    max-height: 581px;
    margin: auto;
  
}

.profile{

    max-width:240.28px ;
    max-height: 240px;
    /* padding: auto; */
    padding: 0px 378.86px 0px 378.86px;
}
.banner-content{
    max-width: 988px;
    max-height: 309px;  
   
}


.banner-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    max-width:988px ;
    max-height: 136px;
    text-align: center;
    padding: 0px 0px 0px 0px;
   
}

.banner-description{
    font-size: 16px;
    color: #0D1321;
    font-weight: 400;
    max-width: 852px;
    max-height:52px;
    padding: 0px  73px 0px  73px;
    text-align: center;


}
.btn-banner-container{
    padding: 0px 377px;
}

.btn-contact{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    border-color: #0D1321;
    background-color: #0D1321;
    max-width: 244px;
    max-height: 65px;
    /* max-height: 65px; */
   
 
  

}
/* main */
/* section */
.btn-learn-more{
    color: #0D1321;
    font-weight: 600;
    border-color: #0D1321;

}
.why-web-dev{
    background-color:#f9f7f7 ;
    padding: 99px;
    margin:84px 136px 0px 136px ;
}
.section1{
    display: flex;
    background-color:#FFFFFF ;
    padding: 48px;
    
}
.section2{
    display: flex;
    background-color:#f9f7f7 ;
    padding: 48px;
}
.section3{
    display: flex;
    background-color:#FFFFFF ;
    padding: 48px;
}
.section-title{
    color: #0D1321;
    text-align: center;

}
.section-description  {
    color: #0D1321;
    text-align: center;

}
.section0{
    background-color:#f9f7f7 ;
    padding: 48px;

}
.my-isparation{
    color: #0D1321;
    text-align: center;
    margin: 90px 148px 0px 148px ;

}
.vedio-description{
    color: #0D1321;
    text-align: center;
    font-weight: 400;

}
.vv{
   border-radius:  16px;
   
   padding: 32px;
   border: 2px solid #000000;
   
  
}
.vvv{ border-radius:  16px;
    overflow:hidden ;
    width: 100%;

}

